[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
rope = "*"

[packages]
urllib3 = "*"
certifi = "*"
gspread = "*"
currencyconverter = "*"
progress = "*"
oauth2client = "*"
gspread-formatting = "*"

[requires]
python_version = "3.7"
